<app-admin-navbar></app-admin-navbar>
<div class="container">
  <div class="row">  
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="border-width: 30px; border-color:pink;" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Sheena Shrestha</h3>
      </div>
      <div class="panel-body" align='center'>
        <div class="row">
          <div class="col-md-3 col-lg-3 "  > <img align='center' alt="User Pic" src="https://demo.crowi-plus.org/images/userpicture.png" width='100%' class="img-circle img-responsive"> </div>
          <div class=" col-md-9 col-lg-9 "> 
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>Programming</td>
                </tr>
                <tr>
                  <td>Username</td>
                  <td>06/23/2013</td>
                </tr>
                <tr>
                  <td>email</td>
                  <td><a href="mailto:info@support.com">info@support.com</a></td>
                </tr>
                <tr>
                  <td>Date Created</td>
                  <td>Female</td>
                </tr>
                <tr>
                  <td>Date Updated</td>
                  <td>2/2/2</td>
                </tr>
                <tr>
                  <td>User Biography</td>
                  <td> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis asperiores provident odio dolorem laboriosam consequatur veniam impedit perspiciatis similique, sint facilis vitae cupiditate praesentium non vero. Nisi tempore ipsum ab. </td>
                </tr>
                <tr>
                  <td>Phone Number</td>
                  <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)</td> 
                </tr>
                <tr>
                  <td>Cars (total)</td>
                  <td>#</td>
                </tr>
              </tbody>
            </table>
            
            <a href="#" class="btn btn-primary">My Sales Performance</a>
            <a href="#" class="btn btn-primary">Team Sales Performance</a>
          </div>
        </div>
      </div>
            <div class="panel-footer">
                  <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                  <span class="pull-right">
                      <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                      <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                  </span>
              </div>
      
    </div>
    </div>
  </div>
</div>