<app-client-navbar></app-client-navbar>
<div class="container">
    <div class="row padding-top-1">
        <div class="col-sm-12 col-md-6 col-lg-12 main-card no-paddings display-flex">
            <div class="col-sm-12 col-md-2 col-lg-2 background-green status en-proceso">
                <div class="row status-text">
                    <h4>In Process</h4>
                </div>
                <div class="status-id">
                    <p><strong>Service type</strong></p>
                    <h2>Days in Shop</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 white-card box-shadow display-flex">
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid">
                    <div><p class="text-bold margin-bottom-0">Assigned Manager</p>
                    <p class="margin-bottom-0">Rogelio Delgado</p></div>
                    
                    <div><p class="text-bold margin-bottom-0">Assigned Mechanic</p>
                    <p class="margin-bottom-0">Empresa X</p></div>
                </div>
                
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid" style="background: #fafafa;">
                    
                    <div><p class="text-bold margin-bottom-0">Entry Date</p>
                    <p class="margin-bottom-0">Lunes 30, Mayo 2017</p></div>
                    
                    <div><p class="text-bold margin-bottom-0">Appointment No.</p>
                    <p class="margin-bottom-0">11 04 6328 0004781</p></div>
                    
                </div>
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid" style="background: #fafafa;">
                    <div><p class="text-bold margin-bottom-0">Exit Date</p>
                    <p class="margin-bottom-0">TBD</p></div>
                    
                    <div><p class="text-bold margin-bottom-0">Status</p>
                    <p class="margin-bottom-0">Active</p></div>
                </div>
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid">
                    <div class="col-md-12 no-paddings">
                        <div class="col-md-6 no-paddings">
                        <p class="text-bold margin-bottom-0">Model</p>
                        <p class="margin-bottom-0">X</p>
                    </div>
                        <div class="col-md-6 no-paddings">
                        <p class="text-bold margin-bottom-0">Make</p>
                        <p class="margin-bottom-0">Y</p>
                    </div>
                    </div>
                    <div><p class="text-bold margin-bottom-0">Year</p>
                    <p class="margin-bottom-0">2010</p></div>
                </div>
            </div>
            <div class="col-md-1 p-l-0" style="display: flex; justify-content: space-between; flex-direction: column;">
                <div style="padding: 1rem;background: #999; color: #FFF; width: 3.5rem;">
                    <span class="glyphicon glyphicon-save-file"></span>
                </div>
                <div style="padding: 1rem; color: #999; width: 3.5rem;">
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 main-card no-paddings display-flex">
            <div class="col-sm-12 col-md-2 col-lg-2 background-green status prealertado">
                <div class="row status-text">
                    <h4>Finalized</h4>
                </div>
                <div class="status-id">
                    <p><strong>Service type</strong></p>
                    <h2>Days in Shop</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 white-card box-shadow display-flex">
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid">
                    <div><p class="text-bold margin-bottom-0">Assigned Manager</p>
                    <p class="margin-bottom-0">Rogelio Delgado</p></div>
                    
                    <div><p class="text-bold margin-bottom-0">Assigned Mechanic</p>
                    <p class="margin-bottom-0">Empresa X</p></div>
                </div>
                
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid" style="background: #fafafa;">
                    
                    <div><p class="text-bold margin-bottom-0">Entry Date</p>
                    <p class="margin-bottom-0">Lunes 30, Mayo 2017</p></div>
                    
                    <div><p class="text-bold margin-bottom-0">Appointment No.</p>
                    <p class="margin-bottom-0">11 04 6328 0004781</p></div>
                    
                </div>
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid" style="background: #fafafa;">
                    <div><p class="text-bold margin-bottom-0">Exit Date</p>
                    <p class="margin-bottom-0">TBD</p></div>
                    
                    <div><p class="text-bold margin-bottom-0">Status</p>
                    <p class="margin-bottom-0">Active</p></div>
                </div>
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid">
                    <div class="col-md-12 no-paddings">
                        <div class="col-md-6 no-paddings">
                        <p class="text-bold margin-bottom-0">Model</p>
                        <p class="margin-bottom-0">X</p>
                    </div>
                        <div class="col-md-6 no-paddings">
                        <p class="text-bold margin-bottom-0">Make</p>
                        <p class="margin-bottom-0">Y</p>
                    </div>
                    </div>
                    <div><p class="text-bold margin-bottom-0">Year</p>
                    <p class="margin-bottom-0">2010</p></div>
                </div>
            </div>
            <div class="col-md-1 p-l-0" style="display: flex; justify-content: space-between; flex-direction: column;">
                <div style="padding: 1rem;background: #999; color: #FFF; width: 3.5rem;">
                    <span class="glyphicon glyphicon-save-file"></span>
                </div>
                <div style="padding: 1rem; color: #999; width: 3.5rem;">
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
            </div>
        </div>
    </div>
</div>