<app-client-navbar></app-client-navbar>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron well" style="background-color: rgba(42,170,189,.6);">
				<h2 class="display-2">
					Welcome to the Car Registration
				</h2>
				<p class='lead'>
					Please input your basic car information here. <strong> Once you take your car to the shop for any service or revision, a more detailed log will be created for your personal peruse. </strong>
				</p>
				
			</div>
		</div>
	</div>

</div>
<div class="container">
	<div class="row">
		<div class="col-md-2" style = "background-color: rgba(11, 77, 131, 0.836);">
		</div>
		<div class="col-md-8">
				<div class="container">
						<form class="form-horizontal" method="POST" action="/localhost:3000/api/car/add">
							<fieldset>
							
							<!-- Form Name -->
							<legend>Register your Car <i class="fa fa-car"></i></legend>
							
							<!-- Appended Input-->
							<div class="form-group">
							  <label class="col-md-4 control-label" for="plate">Plate Number</label>
							  <div class="col-md-5">
								<div class="input-group">
								  <input id="plate" name="plate" class="form-control" placeholder="ABC123" type="text" required="">
								</div>
								<p class="help-block">Do not input spaces, or the following characters: ., _, -.</p>
							  </div>
							</div>

							<!-- Button Drop Down -->
							<div class="form-group">
							  <label class="col-md-4 control-label" for="make">Manufacturer / Make</label>
							  <div class="col-md-5">
								<div class="input-group">
								  <input id="make" name="make" class="form-control" placeholder="Chevrolet" type="text" required="">
								</div>
							  </div>
							</div>
							
							<!-- Button Drop Down -->
							<div class="form-group">
							  <label class="col-md-4 control-label" for="model">Model</label>
							  <div class="col-md-5">
								<div class="input-group">
								  <input id="model" name="model" class="form-control" placeholder="Touring" type="text" required="">
								  <div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									  Select
									  <span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right">
									  <li><a href="#">Option one</a></li>
									  <li><a href="#">Option two</a></li>
									  <li><a href="#">Option three</a></li>
									</ul>
								  </div>
								</div>
							  </div>
							</div>
							
							<!-- Button Drop Down -->
							<div class="form-group">
							  <label class="col-md-4 control-label" for="year">Year</label>
							  <div class="col-md-4">
								<div class="input-group">
								  <input id="year" name="year" class="form-control" placeholder="2020" type="text" required="">
								  <div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									  Select
									  <span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right">
									  <li><a href="#">1</a></li>
									  <li><a href="#">2</a></li>
									  <li><a href="#">3</a></li>
									</ul>
								  </div>
								</div>
							  </div>
							</div>
							
							<!-- Multiple Radios (inline) -->
							<div class="form-group">
							  <label class="col-md-4 control-label" for="new">New</label>
							  <div class="col-md-4"> 
								<label class="radio-inline" for="new-0">
								  <input type="radio" name="new" id="new-0" value="1" checked="checked">
								  Yes
								</label> 
								<label class="radio-inline" for="new-1">
								  <input type="radio" name="new" id="new-1" value="0">
								  No
								</label>
							  </div>
							</div>
							
							<!-- File Button --> 
							<div class="form-group">
							  <label class="col-md-4 control-label" for="car_img">Upload image</label>
							  <div class="col-md-4">
								<input id="car_img" name="car_img" class="input-file" type="file">
							  </div>
							</div>
							
							<!-- Button -->
							<div class="form-group">
							  <label class="col-md-4 control-label" for="register_car"></label>
							  <div class="col-md-4">
								<button id="img" name="img" class="btn btn-primary" (click)="postCar()" >Send</button>
							  </div>
							</div>
							
							</fieldset>
							</form>
							
					</div>
		</div>
		<div class="col-md-2" style = "background-color: rgba(11, 77, 131, 0.836); ">
		</div>
	</div>
</div>
	


