<nav class="navbar sticky-bottom navbar-dark bg-dark">
	<div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <P>We build and restore cars. We love cars. We do. We also love our clients. You're the best. </P>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container">
                    <h3>Follow Us</h3>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li class="list-inline-item">
                        <a href="instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      <li class="list-inline-item"> 
                        <a href="linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li class="list-inline-item">
                          <a href="github.com/isabelminarias"><i  class="fa fa-github-alt" aria-hidden="true"></i></a>
                      </li>
                    </ul>
                </div>
            </div>     
            <div class="col-md-3 col-xs-6">
                <div class="link-area">
                    <h3>COMPANY</h3>
                    <ul class="list-unstyled">
                    <li><a routerLink="/"> Home</a></li>
                    <li><a routerLink="/history"> About</a></li>
                    <li><a routerLink="/contact"> Contact</a></li>
                    <li><a routerLink="/"> Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="link-area">
                    <h3>LEARM MORE</h3>
                    <ul class="list-unstyled">
                    <li><a href="nascar.com"> About Cars</a></li>
                    <li><a href="myspace.com"> About Restoring</a></li>
                    <li><a href="reddit.com"> Our Employees</a></li>
                    <li><a href="youtube.com"> Other Interests</a></li>
                    <li><a href="patreon.com"> Becoming a Patreon</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


