<nav class="navbar sticky-bottom navbar-dark bg-dark">
	<div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <P>Building Consensus among your Senior leaders to leverage your digital strengths and work on gaps which are hindering your growth.</P>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>Follow Us</h3>
                    <ul class="list-unstyled">
                      <li>
                        <p href="twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></p></li>
                      <li>
                        <p href="twitter.com"><i href="instagram.com" class="fa fa-instagram" aria-hidden="true"></i></p></li>
                      <li> 
                        <p href="twitter.com"><i href="linkedin.com" class="fa fa-linkedin" aria-hidden="true"></i></p></li>
                      <li>
                          <p><i href="github.com/isabelminarias" class="fa fa-github-alt" aria-hidden="true"></i></p>
                      </li>
                    </ul>
                </div>
            </div>     
            <div class="col-md-3">
                <div class="link-area">
                    <h3>COMPANY</h3>
                    <ul class="list-unstyled">
                    <li><a href="#"> Home</a></li>
                    <li><a href="#"> Blog</a></li>
                    <li><a href="#"> About</a></li>
                    <li><a href="#"> contact</a></li>
                    <li><a href="#"> Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>LEARM MORE</h3>
                    <ul>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


