<app-client-navbar></app-client-navbar>
<html>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron" style="margin-top:2%; background-color: rgba(40,56,145,0.6);">
				<h2>
					Hello customer!
				</h2>
				<p>
					Here are all your currently registered cars. You can check their repair history in the details section. If you need our services, click the link below and we'll contact you speedily!
				</p>
				<p>
					<a class="btn btn-primary btn-large" routerLink="/client/creq-app">Make an Appointment</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div *ngFor="let c of car" class="col-md-4">
			<img alt="carimage" src="http://lorempixel.com/140/140/" class="img-thumbnail" />
			<h2>
				{{c.make}} | {{c.model}} | {{c.year}}
			</h2>
			<p>
				{{c.createdAt}}
			</p>
			<p>
				<a class="btn" (click)="viewCar(c.id)" >View car details »</a>
			</p>
		</div>
	</div>
</div>
</html>