<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center sticky-top">
	<div class="container">
	  	<a class="navbar-brand" routerLink="/">Jay's Auto Body Shop</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#home-navbar" aria-controls="home-navbar" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
			  <div class="container">
			  	<div class="collapse navbar-collapse" id="home-navbar">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink="/service">Our Services</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink="/history">Our Story</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink="/contact">Contact Us</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Views
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				        	<a class="dropdown-item" routerLink="/admin">Administrator</a>
				          <a class="dropdown-item" routerLink="/client">Client</a>
				          <a class="dropdown-item" routerLink="/manager">Manager</a>
				          <a class="dropdown-item" routerLink="/mechanic">Mechanic</a>
				        </div>
				      </li>
				    </ul>
				    <form class="form-inline my-2 my-lg-0">
				      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" routerLink="/login"><i class="ionicons ion-log-in"></i></button>
				    </form>
				  </div>
			</div>
	</div>
</nav>