<app-navbar></app-navbar>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Contact Us</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Name">Name</label>  
  <div class="col-md-5">
  <input id="Name" name="Name" type="text" placeholder="Name" class="form-control input-md">
  <span class="help-block">Let us know your name!</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-Mail</label>  
  <div class="col-md-5">
  <input id="email" name="email" type="text" placeholder="e-mail" class="form-control input-md">
  <span class="help-block">This is so we can contact you back!</span>  
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="suggestions">Comments</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="suggestions" name="suggestions">Let us know what you think!</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="contact-button"></label>
  <div class="col-md-4">
    <button id="contact-button" name="contact-button" class="btn btn-success"><i class="fa fa-paper-plane"></i> Send Message</button>
  </div>
</div>

</fieldset>
</form>