<app-client-navbar></app-client-navbar>
 <div class="container-fluid">
	<div class="row" style='margin-top:2%'>
		<div class="col-md-12">
			<div class="jumbotron">
				<h2 class='display-2'>
					Welcome, Client!
				</h2>
				<p class="lead">
					Here are all your currently registered cars. Feel free to directly assign an appointment to them, or check their service history at our body shop. 
					Have a pleasant day! 
				</p>
				<p>
					<a class="btn btn-primary btn-large" routerLink="/client/cregister-car">Register Car</a>
				</p>
			</div>
		</div>
	</div>
	

	<main class="container">
		<section class="carlist" id="carlist">
			<h2>Your Cars</h2>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<article class="card">
						<header class="title-header">
							<h3>Car ID: #</h3>
						</header>
						<div class="card-block">
							<div class="img-card">
								<img src="//placehold.it/300x250" alt="Movie" class="w-100" />
							</div>
							<p class="tagline card-text text-xs-center">Make, model and year <br> Date added: <br> Last updated: </p>
							<a routerLink='' class="btn btn-primary btn-block"><i class="ionicons ion-android-car"></i> Watch Now</a>
						</div>
					</article>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<article class="card">
						<header class="title-header">
							<h3>Movie Title</h3>
						</header>
						<div class="card-block">
							<div class="img-card">
								<img src="https://placehold.it/300x250" alt="Movie" class="w-100" />
							</div>
							<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
						</div>
					</article>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<article class="card">
						<header class="title-header">
							<h3>Movie Title</h3>
						</header>
						<div class="card-block">
							<div class="img-card">
								<img src="https://placehold.it/300x250" alt="Movie" class="w-100" />
							</div>
							<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
						</div>
					</article>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<article class="card">
						<header class="title-header">
							<h3>Movie Title</h3>
						</header>
						<div class="card-block">
							<div class="img-card">
								<img src="https://placehold.it/300x250" alt="Movie" title="Movie" class="w-100" />
							</div>
							<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
						</div>
					</article>
				</div>
			</div>
		</section>
		</main>
</div>