<app-admin-navbar></app-admin-navbar>
<div class="row">
    <div class="col-md-3">
        {{dataUser}}
    </div>
    <div class="col-md-6">
            <div class="container">
                    <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="#home" data-toggle="tab">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#profile" data-toggle="tab">Password</a>
                            </li>
                        </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane active in" id="home">
                            <form class="form-horizontal" id="tab1" ng-form="ProfileChange" >
                                <fieldset>
                                
                                <!-- Form Name -->
                                <legend>Profile Changes</legend>
                                
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Name</label>  
                                    <div class="col-md-8">
                                    <input data-ng-model="name" id="name" name="name" type="text" placeholder="Jane Doe" class="form-control input-md">
                                    
                                    </div>
                                </div>
                                
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="username">Username</label>  
                                    <div class="col-md-8">
                                    <input data-ng-model="username" id="username" name="username" type="text" placeholder="JaneDoe123" class="form-control input-md">
                                    
                                    </div>
                                </div>
                                
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="email">Email</label>  
                                    <div class="col-md-8">
                                    <input data-ng-model="email" id="email" name="email" type="text" placeholder="janedoe@example.com" class="form-control input-md">
                                    
                                    </div>
                                </div>
                                
                                <!-- File Button --> 
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="pusa">Profile Picture</label>
                                    <div class="col-md-4">
                                    <input data-ng-model="pp" id="pusa" name="pusa" class="input-file" type="file">
                                    </div>
                                </div>
                                
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="submitChanges"></label>
                                    <div class="col-md-8">
                                    <button id="submitChanges" name="submitChanges" class="btn btn-primary">Change</button>
                                    <button id="cancelChanges" name="cancelChanges" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                                
                                </fieldset>
                                </form>
                                    
                      </div>
                      <div class="tab-pane fade" id="profile">
                            <form class="form-horizontal" id="tab2">
                                    <fieldset>
                                    
                                    <!-- Form Name -->
                                    <legend>Password Change</legend>
                                    
                                    <!-- Password input-->
                                    <div class="form-group">
                                      <label class="col-md-4 control-label" for="pass1">Change Password</label>
                                      <div class="col-md-8">
                                        <input id="pass1" name="pass1" type="password" placeholder="Your new password here..." class="form-control input-md" required="">
                                        
                                      </div>
                                    </div>
                                    
                                    <!-- Password input-->
                                    <div class="form-group">
                                      <label class="col-md-4 control-label" for="pass2">Verify Password</label>
                                      <div class="col-md-8">
                                        <input id="pass2" name="pass2" type="password" placeholder="Re-introduce your password here..." class="form-control input-md" required="">
                                        
                                      </div>
                                    </div>
                                    
                                    <!-- Button -->
                                    <div class="form-group">
                                      <label class="col-md-4 control-label" for="submitPassword"></label>
                                      <div class="col-md-8">
                                        <button id="submitPassword" name="submitPassword" class="btn btn-warning">Change Password</button>
                                      </div>
                                    </div>
                                    
                                    </fieldset>
                                    </form>
                                    
                      </div>
                  </div>
    </div>
    <div class="col-md-3"></div>
</div>
