<app-admin-navbar></app-admin-navbar>
<div class="container">
	<div class="row">
		<button type="button" routerLink="create" class="btn btn-block btn-success">Create a New User</button>
	</div>
</div>
<div class="container-fluid">
	<div class="row" style='border-bottom: 5px solid #C8E8ED'></div>
	<div class="row" id='clients-row'>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="../../../assets/admin/icon-client.png" style='border-radius: 0px 0px 30px 30px' width="100%" />
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Users Information
					</h3>
				</div>
				<div class="panel-body">
					User type: Clients
				</div>
				<div class="panel-footer">
					...
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<table class="table table-hover table-condensed table-striped">
				<thead>
					<tr>
						<th>
							client's name
						</th>
						<th>
							username
						</th>
						<th>
							email
						</th>
						<th>
							user id
						</th>
						<th>
							password
						</th>
						<th>
							last updated
						</th>
						<th>
							creation date
						</th>
						<th>
							Options
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active" *ngFor="let c  of clients ">
						<td>
							{{ c.name }}
						</td>
						<td>
							{{ c.username }}
						</td>
						<td>
							{{ c.email }}
						</td>
						<td>
							{{ c.userID }}
						</td>
						<td>
							{{ c.password }}
						</td>
						<td>
							{{ c.updatedAt | date:'fullDate' }} <br> {{ c.updatedAt | date:'shortTime' }}
						</td>
						<td>
							{{ c.createdAt | date: 'fullDate'}} <br> {{ c.createdAt | date:'shortTime'}}
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-danger" (click)="getUserData()">
								<i class="fa fa-ban" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-sm btn-success disabled">
								<i class="fa fa-check" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-sm btn-info">
								<i class="fa fa-id-badge" aria-hidden="true"></i>
							</button> 
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
	<div class="row" style='border-bottom: 5px solid #283891'>
		<h1>  </h1>
	</div>
	<div class="row" id='mechanics-row'>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="../../../assets/admin/icon-mechanic.png" style='border-radius: 0px 0px 30px 30px' width="100%" />
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Users Information
					</h3>
				</div>
				<div class="panel-body">
					Total Users Currently: 2
				</div>
				<div class="panel-footer">
					Users pending confirmation: 1
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<table class="table table-hover table-condensed table-striped">
				<thead>
					<tr>
						<th>
							name
						</th>
						<th>
							username
						</th>
						<th>
							password
						</th>
						<th>
							email
						</th>
						<th>
							user ID
						</th>
						<th>
							last updated
						</th>
						<th>
							creation date
						</th>
						<th>
							Options
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let m of mechanics" >
						<td>
							{{ m.name }}
						</td>
						<td>
							{{ m.username }}
						</td>
						<td>
							{{ m.email }}
						</td>
						<td>
							{{ m.userID }}
						</td>
						<td>
							{{ m.password }}
						</td>
						<td>
							{{ m.updatedAt | date:'fullDate' }} <br> {{ m.updatedAt | date:'shortTime' }}
						</td>
						<td>
							{{ m.createdAt | date: 'fullDate'}} <br> {{ m.createdAt | date:'shortTime'}}
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-danger">
								<i class="fa fa-ban" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-sm btn-success disabled">
								<i class="fa fa-check" aria-hidden="true"></i>
							</button> 
							<button type="button" class="btn btn-sm btn-info">
								<i class="fa fa-id-badge" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" style='border-bottom: 5px solid #FE8A31'>
		<h1>  </h1>
	</div>
	<div class="row" id='managers-row'>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="../../../assets/admin/icon-manager.png" style='border-radius: 0px 0px 30px 30px'  width="100%" />
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Users Information
					</h3>
				</div>
				<div class="panel-body">
					User type: managers
				</div>
				<div class="panel-footer">
					Users pending confirmation: 1
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<table class="table table-hover table-condensed table-striped">
				<thead>
					<tr>
						<th>
							name
						</th>
						<th>
							username
						</th>
						<th>
							password
						</th>
						<th>
							email
						</th>
						<th>
							user ID
						</th>
						<th>
							last updated
						</th>
						<th>
							creation date
						</th>
						<th>
							Options
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let mg of managers" >
						<td>
							{{ mg.name }}
						</td>
						<td>
							{{ mg.username }}
						</td>
						<td>
							{{ mg.email }}
						</td>
						<td>
							{{ mg.userID }}
						</td>
						<td>
							{{ mg.password }}
						</td>
						<td>
							{{ mg.updatedAt | date:'fullDate' }} <br> {{ mg.updatedAt | date:'shortTime' }}
						</td>
						<td>
							{{ mg.createdAt | date: 'fullDate'}} <br> {{ mg.createdAt | date:'shortTime'}}
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-danger">
								<i class="fa fa-ban" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-sm btn-success disabled">
								<i class="fa fa-check" aria-hidden="true"></i>
							</button> 
							<button type="button" class="btn btn-sm btn-info">
								<i class="fa fa-id-badge" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
	<div class="row" style='border-bottom: 5px solid #2AAABD'>
		<h1>  </h1>
	</div>
	<div class="row" id='admin-row'>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="../../../assets/admin/icon-admin.png" style='border-radius: 0px 0px 30px 30px'  width="100%" />
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Users Information
					</h3>
				</div>
				<div class="panel-body">
					User class: administrator
				</div>
				<div class="panel-footer">
					Users pending confirmation: 3
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<table class="table table-hover table-condensed table-striped">
				<thead>
					<tr>
						<th>
							name
						</th>
						<th>
							username
						</th>
						<th>
							password
						</th>
						<th>
							email
						</th>
						<th>
							user ID
						</th>
						<th>
							last updated
						</th>
						<th>
							creation date
						</th>
						<th>
							Options
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let a of admins" >
						<td>
							{{ a.name }}
						</td>
						<td>
							{{ a.username }}
						</td>
						<td>
							{{ a.email }}
						</td>
						<td>
							{{ a.userID }}
						</td>
						<td>
							{{ a.password }}
						</td>
						<td>
							{{ a.updatedAt | date:'fullDate' }} <br> {{ a.updatedAt | date:'shortTime' }}
						</td>
						<td>
							{{ a.createdAt | date: 'fullDate'}} <br> {{ a.createdAt | date:'shortTime'}}
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-danger">
								<i class="fa fa-ban" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-sm btn-success disabled">
								<i class="fa fa-check" aria-hidden="true"></i>
							</button> 
							<button type="button" class="btn btn-sm btn-info">
								<i class="fa fa-id-badge" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
	<div class="row" id='unasigned-row'>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="../../../assets/admin/icon-client.png" style='border-radius: 0px 0px 30px 30px'  width="100%" />
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Users Information
					</h3>
				</div>
				<div class="panel-body">
					User class: to be determined
				</div>
				<div class="panel-footer">
					Users pending confirmation: 3
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<table class="table table-hover table-condensed table-striped">
				<thead>
					<tr>
						<th>
							name
						</th>
						<th>
							username
						</th>
						<th>
							password
						</th>
						<th>
							email
						</th>
						<th>
							user ID
						</th>
						<th>
							last updated
						</th>
						<th>
							creation date
						</th>
						<th>
							Options
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let u of unasigned" >
						<td>
							{{ u.name }}
						</td>
						<td>
							{{ u.username }}
						</td>
						<td>
							{{ u.email }}
						</td>
						<td>
							{{ u.userID }}
						</td>
						<td>
							{{ u.password }}
						</td>
						<td>
							{{ u.updatedAt | date:'fullDate' }} <br> {{ u.updatedAt | date:'shortTime' }}
						</td>
						<td>
							{{ u.createdAt | date: 'fullDate'}} <br> {{ u.createdAt | date:'shortTime'}}
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-danger">
								<i class="fa fa-ban" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-sm btn-success disabled">
								<i class="fa fa-check" aria-hidden="true"></i>
							</button> 
							<button type="button" class="btn btn-sm btn-info">
								<i class="fa fa-id-badge" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</div>