<app-navbar></app-navbar>
<!-- LOGIN FORM -->
<!--<p> {{loginclick}} is this </p>-->
<div class="container" id="login" *ngIf="loginclick">
		<div class="text-center" style="padding:50px 0">
				<div class="logo">Log In</div>
				<!-- Main Form -->
				<div class="login-form-1">
					<form id="login-form" class="text-left">
						<div class="login-form-main-message"></div>
						<div class="main-login-form">
							<div class="login-group">
								<div class="form-group">
									<label for="lg_username" class="sr-only">Username</label>
									<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
								</div>
								<div class="form-group">
									<label for="lg_password" class="sr-only">Password</label>
									<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
								</div>
								<div class="form-group login-group-checkbox">
									<input type="checkbox" id="lg_remember" name="lg_remember">
									<label for="lg_remember">remember</label>
								</div>
							</div>
							<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
						</div>
						<div class="etc-login-form">
							<p>Forgot your password? <button (click)="showpassword()" type="button" class="btn btn-link btn-sm">Click here</button></p>
							<p>New user? <button (click)="showregister()" type="button" class="btn btn-link btn-sm">Create new account</button>
						</div>
					</form>
				</div>
				<!-- end:Main Form -->
			</div>
</div>

<!-- REGISTRATION FORM -->
<!--<p> {{registerclick}} is register but doesnt show up either</p> -->
<div class="container" id="registration" *ngIf ="registerclick" >
	<div class="text-center" style="padding:50px 0">
	<div class="logo">register</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="janedoe">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
					</div>
					
					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email@example.com">
					</div>
					<div class="form-group">
						<label for="reg_fullname" class="sr-only">Full Name</label>
						<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="Jane Doe">
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">I agree with <a href="#"> Terms & Conditions</a></label>
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>Already have an account? <button (click)="showlogin()" type="button" class="btn btn-link btn-sm">Log in here!</button></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
	</div>
</div>
	

<!-- FORGOT PASSWORD FORM -->
<!--{{passwordclick}} is password but doesnt show up so f u -->
<div class="container" id="forgotten-password" *ngIf ="passwordclick" >
		<div class="text-center" style="padding:50px 0">
				<div class="logo">forgot password</div>
				<!-- Main Form -->
				<div class="login-form-1">
					<form id="forgot-password-form" class="text-left">
						<div class="etc-login-form">
							<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
						</div>
						<div class="login-form-main-message"></div>
						<div class="main-login-form">
							<div class="login-group">
								<div class="form-group">
									<label for="fp_email" class="sr-only">Email address</label>
									<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
								</div>
							</div>
							<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
						</div>
						<div class="etc-login-form">
							<p>already have an account? <button (click)="showlogin()" type="button" class="btn btn-link btn-sm">Log in here!</button></p>
							<p>new user? <button (click)="showregister()" type="button" class="btn btn-link btn-sm">Create a new account</button></p>
						</div>
					</form>
				</div>
				<!-- end:Main Form -->
			</div>
</div>