<app-navbar></app-navbar>

	<img src="../../../assets/default/home-banner.png" width="100%"  style="margin: 2% 0 5% 0; ">

<div class="container" style="margin-top: 2%; margin-bottom: 5%">
	<div class="jumbotron" id="jumbo-main">
	  <h1 class="display-4">Welcome to Jay's Auto Body Shop Website</h1>
	  <p class="lead">You can find all the information you need about us here</p>
	  <hr class="my-4">
	  <p>We're currently located in 800 establishments all around the world. Look for the JBody Shop closest to you! </p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" routerLink="/contact" role="button">Find the nearest location</a>
	  </p>
	</div>
</div>

<div class="container"  style="margin-top: 2%; margin-bottom: 5%">
	<div class="jumbotron" id="jumbo-story">
		<h1 class="display-3">Never heard of us?</h1>
		<p class="lead">We may be a new brand to the public, but we've got ambition! Don't believe us? Take a look at our history, and more importantly, the man behind it all.</p>
		<button type="button" class="btn btn-primary" routerLink="/history">Learn our story</button>
	</div>
</div>
<div class="container">
	<div class="jumbotron" id="jumbo-consult">
		<h1 class="display-2">Free Consultations</h1>
		<p class="lead">You heard it right! If you subscribe to our newsletter, you can get a free consultation. </p>
		<hr class="my-3">
		<p class="small">Check our consultation page to find out what this entails.</p>
		<button type="button" class="btn btn-secondary" routerLink="/consultation">Consultations</button>

	</div>
</div>