<app-navbar></app-navbar>
<div class="container-fluid">
	<!-- Uncomment if you want the title (but it shows the green background)
	<div class="title-arch">Our services<p class='small'> You can find here the most often sought services from our clients. Take a peek, don't worry! And contact us if you've got any questions.</p></div>
	-->
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
	        <div class="project-hover">
	        	<h2>Maintenance Work</h2>
	            
	            <hr />
	            <p>We manage all of your car's maintenance work, from tire pressure to oil changes.</p>
	            <a routerLink="/login">Book an appointment</a>
	        </div>
	    </div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
	    	<div class="project-hover">
	        	<h2>Body Shop</h2>
	            <hr />
	            <p>Want to make some changes to your car? Maybe a car paint job, or a new hood altogether? We can do that for you!</p>
	            <a routerLink="/consultation">Get a consultation!</a>
	        </div>
	    </div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
	    	<div class="project-hover">
	        	<h2>Best Service</h2>
	            <hr />
	            <p>We offer the best costumer service. You've got direct access to all your cars information once you come register with us!</p>
	            <a routerLink="/register">Register now!</a>
	        </div>
	    </div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-4 wow animated fadeInLeft">
	    	<div class="project-hover">
	        	<h2>Technology</h2>
	            <hr />
	            <p>In this fast-paced world we live in, we need to do everything in a rush. We put our services at your fingertips, with easy access to our services. Your car is in good hands!</p>
	            <a routerLink='/login'>Log In</a> or <a routerLink='/login'> Contact Us</a>
	        </div>
	    </div>
	    <div class="clearfix"></div>
</div>