.container, .container-fluid {
    margin-top: 15px;
}
tr > td.media-left {
    width: 72px !important;
    height: 30px;
    padding: 0 10px;
    background-color: rgb(171, 147, 255);    
}
.table .media .media-body > span {
   color: rgb(0, 168, 84);
}

.table .media .media-body span strong {
    color: rgb(0, 26, 56);
}